<%- include('partials/header') %>

    <header>

        <div class="container">

            <div class="header grid grid-cols-3">

                <div class="logo">
                    <a href="#"><b>Logo</b></a>
                </div>

                <div class="navigation text-center">

                    <nav>
                        <ul class="flex flex-center">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </nav>

                </div>

                <div class="cart text-right">
                    <a href="javascript:void(0)" class="contact"><b>Call us:</b> +1 1234 4321 12</a>
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </div>

            </div>

        </div>

    </header>

    <main>

        <section class="main-banner">

            <div class="container">

                <div class="text-content text-left">
                    <div class="text">
                        <p>NOT FRIED NOT BAKED</p>
                        <h1>Organic Fruits<br />Summer Drinks</h1>
                        <p><i>fresh New pack Brusting Fruits</i></p>
                    </div>
                    <div class="shop-now">
                        <button class="btn btn-primary">SHOP NOW</button>
                    </div>
                </div>

            </div>

        </section>

        <section class="info">

            <div class="container">

                <div class="grid grid-cols-4 info-content">

                    <div>
                        <i class="fas fa-shipping-fast"></i>
                        <p class="main-line"><b>Free Shipping</b></p>
                        <p>On all orders over $64.12</p>
                    </div>

                    <div>
                        <i class="fas fa-exchange-alt"></i>
                        <p><b>Free Returns</b></p>
                        <p>Returns are free within 4 days</p>
                    </div>

                    <div>
                        <i class="fas fa-shield-alt"></i>
                        <p><b>100% Payment Secure</b></p>
                        <p>Your payment are secure with us.</p>
                    </div>

                    <div>
                        <i class="fas fa-phone-square-alt"></i>
                        <p><b>Support 24/7</b></p>
                        <p>Contact us 24 hours/ day</p>
                    </div>

                </div>

            </div>

        </section>

        <section class="products">

            <div class="container">

                <div class="top-product-heading">
                    <h3>All Products</h3>
                    <p><i>Add bestselling products to weekly line up</i></p>
                    <div class="text-right">
                        <button class="add-product">+ New Product</button>
                    </div>
                </div>

                <!-- ********************* TOGGLE HIDDEN ********************* -->

                <!-- START: Add New Product -->
                <div class="text-center hidden" id="add-new-product">

                    <div class="smallContainer add-new-product shadow">

                        <form id="product-form" class="addProduct text-center">
                            <h3>Add New Product</h3>
                            <div class="form-input">
                                <input id="name" class="input-text" name="name" required placeholder="Title"
                                    type="text">
                            </div>
                            <div>
                                <textarea id="description" name="description" rows="1" class="input-text" required
                                    placeholder="Description"></textarea>
                            </div>
                            <div>
                                <input id="initialPrice" name="initialPrice" class="input-text" required
                                    placeholder="Retail Price" type="text">
                            </div>
                            <div>
                                <input id="finalPrice" name="finalPrice" class="input-text" required
                                    placeholder="Selling Price" type="text">
                            </div>
                            <div>
                                <input id="image" name="image" type="file">
                            </div>
                            <div class="shop-now">
                                <button type="submit">Save Product</button>
                            </div>
                            <div class="cancel-btn">
                                <p>Cancel</p>
                            </div>
                        </form>

                    </div>

                </div>
                <!-- END: Add New Product -->

                <!-- START: Product List -->
                <div class="products">

                    <div class="grid grid-cols-5 grid-gap-1">

                        <%if (products.length> 0) { %> <% products.forEach((product, i)=> { %>

                                <div class="product">

                                    <div class="text-right">
                                        <!-- <button class="delete delete-btn" id="<%= product.id %>"><i
                                                class="far fa-trash-alt color-red"></i></button> -->
                                        <span class="delete" id="<%= product.id %>">&#10005;</span>
                                    </div>

                                    <div class="text-center">

                                        <img class="product-dashboard-img" src="uploads/<%= product.image %>"
                                            alt="Product Image">

                                        <a href="">
                                            <h4>
                                                <%= product.name %>
                                            </h4>
                                        </a>

                                        <div class="ratings-container">

                                            <p>
                                                <%= product.rating %>
                                            </p>

                                            <p class="stars space"><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </p>

                                        </div>

                                        <p class=" space"><del>
                                                $<%= product.initial_price %>
                                            </del>&nbsp;<span>
                                                $<%= product.final_price %>
                                            </span>
                                        </p>

                                        <a href="/<%= product.id %>" class="btn btn-cart">View Product</a>

                                    </div>

                                </div>

                                <% }) %>
                                    <% } else { %>
                                        <h1>No Products Found.</h1>
                                        <% } %>

                    </div>

                </div>
                <!-- END: Product List -->
            </div>

        </section>

    </main>

    <footer>
        <div class="container">
            <p>&copy; 2021. Project created by Akhil Goyal and Nitish Kumar.</p>
        </div>
    </footer>

    <%- include('partials/footer') %>

        <script>

            window.addEventListener("DOMContentLoaded", function () {

                const form = document.getElementById("product-form");

                form.addEventListener("submit", (e) => {

                    e.preventDefault();

                    const productName = document.getElementById("name");
                    const productDescription = document.getElementById("description");
                    const productInitialPrice = document.getElementById("initialPrice");
                    const productFinalPrice = document.getElementById("finalPrice");
                    const image = document.getElementById("image");

                    const formData = new FormData();

                    formData.append("name", productName.value);
                    formData.append("description", productDescription.value);
                    formData.append("initialPrice", productInitialPrice.value);
                    formData.append("finalPrice", productFinalPrice.value);
                    formData.append("image", image.files[0]);

                    fetch("http://localhost:8080/create-product", {
                        method: "post",
                        body: formData,
                    })
                        .then((res) => window.location.reload())
                        .catch((err) => ("Error occured", err));
                });

                document.querySelector('.add-product').addEventListener('click', (e) => {
                    const productBox = document.querySelector('#add-new-product');
                    productBox.classList.remove('hidden');
                });

                document.querySelector('.cancel-btn').addEventListener('click', () => {
                    const productBox = document.querySelector('#add-new-product');
                    productBox.classList.add('hidden');
                });

                document.addEventListener('click', (e) => {

                    if (e.target.className === 'delete') {

                        if (confirm('Are you sure?')) {

                            fetch("/delete-product", {
                                method: "POST",
                                headers: {
                                    Accept: "application/json",
                                    "content-type": "application/json",
                                },
                                body: JSON.stringify({ id: e.target.id }),
                            })
                                .then(() => {
                                    window.location.reload();
                                })
                                .catch((err) => {
                                    console.log("Error while deleting product : ", err);
                                });

                        }

                    }

                })

            });

        </script>