<%- include('partials/header') %>

    <header>
        <div class="container">
            <div class="header grid grid-cols-3">
                <div class="logo">
                    <a href="#"><b>Logo</b></a>
                </div>
                <div class="navigation text-center">
                    <nav>
                        <ul class="flex flex-center">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="cart text-right">
                    <a href="javascript:void(0)" class="contact"><b>Call us:</b> +1 1234 4321 12</a>
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="product-detail">
            <div class="container">
                <div class="grid grid-cols-2 details">
                    <div class="image text text-center">
                        <img src="uploads/<%= product.image %>" alt="Product Image">
                    </div>
                    <div>

                        <div class="id-container">
                            <%= product.id %>
                        </div>

                    </div>

                    <!-- HIDDEN WILL BE ADDED HERE .. -->

                    <div class="product-content addProduct" id="add-content">

                        <div class="grid grid-cols-2">

                            <h2 class="space">
                                <%= product.name %>
                            </h2>

                            <i class="fas fa-pencil-alt edit-content"></i>

                        </div>

                        <p class="space">
                            <%= product.description %>
                        </p>

                        <div class="ratings-container">

                            <p>
                                <%= product.rating %>
                            </p>

                            <p class="stars space"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </p>

                        </div>

                        <p class=" space"><del>$<%= product.initial_price %></del>&nbsp;<span>$<%= product.final_price
                                    %></span> </p>
                        <button class="btn btn-main-cart">ADD TO CART</button>
                        <!-- <button class="btn btn-main-cart-cancel">DELETE</button> -->
                    </div>

                    <!-- HIDDEN WILL BE REMOVED FROM HERE .. -->

                    <!-- START: EDIT PRODUCT -->
                    <div class="product-content editProduct hidden" id="edit-content">
                        <form id="product-update-form">
                            <div>
                                <input id="name" name="name" class="input-text" type="text" placeholder="Title" required
                                    value="<%= product.name %>">
                            </div>
                            <div><textarea id="description" name="description" class="input-text" rows="2" required
                                    placeholder="Description"
                                    value="<%= product.description %>"><%= product.description %></textarea>
                            </div>
                            <div><input id="initialPrice" name="initialPrice" class="input-text"
                                    value="<%= product.initial_price %>" required placeholder="Retail Price"
                                    type="text">
                            </div>
                            <div><input id="finalPrice" name="finalPrice" class="input-text"
                                    value="<%= product.final_price %>" required placeholder="Selling Price" type="text">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-main-cart">UPDATE</button>
                                <button class="btn btn-main-cart-cancel">CANCEL</button>
                            </div>
                        </form>
                    </div>
                    <!-- END: EDIT PRODUCT -->

                </div>
            </div>
        </section>

    </main>

    <footer class="product-detail-footer">
        <div class="container">
            <p>&copy; 2021. Project created by Akhil Goyal and Nitish Kumar.</p>
        </div>
    </footer>

    <%- include('partials/footer') %>

        <script>

            window.addEventListener("DOMContentLoaded", function () {

                const form = document.querySelector('#product-update-form');

                form.addEventListener('submit', (e) => {

                    e.preventDefault();

                    const productId = document.querySelector('.id-container').innerText.trim();
                    const productName = document.getElementById("name").value;
                    const productDescription = document.getElementById("description").value;
                    const productInitialPrice = document.getElementById("initialPrice").value;
                    const productFinalPrice = document.getElementById("finalPrice").value;

                    const data = JSON.stringify({ productId, productName, productDescription, productInitialPrice, productFinalPrice });

                    fetch("http://localhost:8080/update-product", {
                        method: "post",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: data
                    })
                        .then((res) => window.location.reload())
                        .catch((err) => ("Error occured", err));
                });

                document.querySelector('.edit-content').addEventListener('click', () => {
                    document.querySelector('.editProduct').classList.remove('hidden');
                    document.querySelector('.addProduct').classList.add('hidden');
                });

                document.querySelector('.btn-main-cart-cancel').addEventListener('click', () => {
                    document.querySelector('.editProduct').classList.add('hidden');
                    document.querySelector('.addProduct').classList.remove('hidden');
                });

            });

        </script>